{% extends 'base.html.twig' %}

{% block body_id 'cart' %}

{% block main %}

    <table>
        {% for cartItem in cartItems %}
            <tr>
                <td>{{ cartItem.product.title }}</td>
                <td>{{ cartItem.product.price }}</td>
                <td>{{ cartItem.quantity }}</td>
                <td>{{ cartItem.calcProductTotal }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>Total: </p>

{% endblock %}