{% extends 'base.html.twig' %}

{% block body_id 'forbidden' %}

{% block main %}

    <div class="container mt-5">
        <h3>ERROR 403: Sorry you don't have administration rights! Go back to <a href="{{ path('homepage') }}">main
                page</a>.</h3>

{% endblock %}